
body {
  background-color: #faebd7;
  color: #ffffff;

  font-family: 'Shantell Sans', cursive;
  background-size: cover;
  background-position: "center";
  background-repeat: "no-repeat";
  background-attachment: "fixed";
  
  }
  
  
  
  